html {
    font-size: 125%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

body {
    color: $fontColourLight;
}

body.darkMode {
    color: $fontColourDark;
}

h1, h2, h3, p, nav, ul, li {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
}

li {
    list-style: none;
}

h2 {
    text-align: center;
    font-size: 2rem;

    &::after {
        content: "";
        text-align: center;
        background-color: $primaryColour;
        display: block;
        height: 2px;
        width: 50px;
        position: absolute;
        left: calc(50% - 25px);
        margin-top: 20px;
    }
}

.darkMode h2 {
    &::after {
        background-color: $primaryColourDark;
    }
}

.home h2 {
    font-size: 1.2rem;
}

.home h2::after {
    content: none;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6rem;
    letter-spacing: 1px;
}

button {
    cursor: pointer;
}

.wrapper {
    max-width: 1080px;
    width: 95%;
    margin: 0 auto;
}

.colour,
.home h2 {
    color: $primaryColour;
}

.darkMode .colour,
.darkMode .home h2 {
    color: $primaryColourDark;
}

.underline {
    text-decoration: underline;
    color: black;
    text-decoration-color:$primaryColour;
}

.darkMode .underline {
    color: $fontColourDark;
    text-decoration-color:$primaryColourDark;
}

img {
    width: 100%;
    height: 100%;
}

footer {
    background: $secondaryBackground;
    text-align: center;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}
.darkMode footer {
    background: $secondaryBackgroundDark;
}

::placeholder {
    color: $primaryColour;
    opacity: 0.9;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $primaryColour;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: $primaryColour;
}

.darkMode {
    ::placeholder {
        color: $fontColourDark;
        opacity: 0.9;
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $fontColourDark;
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
        color: $fontColourDark;
    }
}