$primaryBackground: #FFE5DF;
$secondaryBackground: whitesmoke;
$primaryColour: #F13C91;
$lighterSecondaryColour: #DF5696;
$boxShadow: 0 2px 2px -2px rgba(0,0,0,1);

// mixins
@mixin primBackgroundAndSecColour($backgroundColour) {
    background-color: $backgroundColour;
    color: $secondaryBackground;
}

@mixin animationKeyframe {
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Firefox < 16 */
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Internet Explorer */
    @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
}

@mixin animation {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}