// light mode
$primaryBackground: #FFE5DF;
$secondaryBackground: whitesmoke;
$primaryColour: #F13C91;
$lighterSecondaryColour: #DF5696;
$fontColourLight: #192841;

// dark mode
$primaryBackgroundDark: #353C51;
$secondaryBackgroundDark: #506680;
$fontColourDark: #ECF2F8;
$primaryColourDark: #77bdfb;

// other colours 
$darkerPink: #A70C54;
$blueHover: #72cce3;

$boxShadow: 0 2px 2px -2px rgba(0,0,0,1);

// mixins
@mixin primBackgroundAndSecColour($backgroundColour) {
    background-color: $backgroundColour;
    color: $secondaryBackground;
}