html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

body.darkMode {
  color: #ECF2F8;
}

h1, h2, h3, p, nav, ul, li {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

li {
  list-style: none;
}

h2 {
  text-align: center;
  font-size: 2rem;
}
h2::after {
  content: "";
  text-align: center;
  background-color: #F13C91;
  display: block;
  height: 2px;
  width: 50px;
  position: absolute;
  left: calc(50% - 25px);
  margin-top: 20px;
}

.darkMode h2::after {
  background-color: #77bdfb;
}

.home h2 {
  font-size: 1.2rem;
}

.home h2::after {
  content: none;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: 1px;
}

button {
  cursor: pointer;
}

.wrapper {
  max-width: 1080px;
  width: 95%;
  margin: 0 auto;
}

.colour,
.home h2 {
  color: #F13C91;
}

.darkMode .colour,
.darkMode .home h2 {
  color: #77bdfb;
}

.underline {
  text-decoration: underline;
  color: black;
  -webkit-text-decoration-color: #F13C91;
          text-decoration-color: #F13C91;
}

.darkMode .underline {
  color: #ECF2F8;
  -webkit-text-decoration-color: #77bdfb;
          text-decoration-color: #77bdfb;
}

img {
  width: 100%;
  height: 100%;
}

footer {
  background: whitesmoke;
  text-align: center;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

.darkMode footer {
  background: #506680;
}

section {
  overflow: hidden;
}
section:nth-child(odd) {
  background-color: #FFE5DF;
}
section:nth-child(even) {
  background-color: whitesmoke;
}

.darkMode section:nth-child(odd) {
  background-color: #353C51;
}
.darkMode section:nth-child(even) {
  background-color: #506680;
}

.home,
.theProjects,
.contact {
  position: relative;
}

.triangleBottomLeft {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.triangleBottomLeft svg {
  position: relative;
  display: block;
  width: calc(115% + 1.3px);
  height: 118px;
}

.triangleTopRight {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.triangleTopRight svg {
  position: relative;
  display: block;
  width: calc(115% + 1.3px);
  height: 118px;
}

.shape-fill {
  fill: whitesmoke;
}

.darkMode .shape-fill {
  fill: #506680;
}

header {
  background-color: #FFE5DF;
}
header nav {
  -webkit-box-shadow: 0 2px 2px -2px black;
          box-shadow: 0 2px 2px -2px black;
  position: relative;
  z-index: 1;
}
header nav button {
  display: none;
  background: transparent;
  border: none;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px;
}
header nav li a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
}
header nav li a:hover,
header nav li a:focus {
  background-color: #F13C91;
  color: whitesmoke;
  -webkit-box-shadow: 0 2px 2px -2px black;
          box-shadow: 0 2px 2px -2px black;
}
header nav .resume {
  background-color: #A70C54;
  color: whitesmoke;
}
header nav .resume:hover {
  background-color: #72cce3;
}

.darkMode header {
  background-color: #353C51;
}
.darkMode header nav li a {
  color: #ECF2F8;
}
.darkMode header nav li a:hover, .darkMode header nav li a:focus {
  background: #77bdfb;
  color: #353C51;
}
.darkMode header nav .resume {
  background-color: #A70C54;
}
.darkMode header nav .resume:hover {
  background-color: #72cce3;
}

.home .wrapper {
  height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.home .wrapper p {
  max-width: 550px;
  margin: 25px 0;
}
.home .modeToggleCheck {
  position: absolute;
  top: 10px;
  left: 0;
}
.home .toggleCheckbox {
  display: none;
}
.home .toggleLabel {
  width: 100px;
  height: 50px;
  background: #96dcee;
  border-radius: 50px;
  border: 5px solid #72cce3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: all 350ms ease-in;
  transition: all 350ms ease-in;
}
.home .toggleLabel:before {
  -webkit-animation-name: reverse;
          animation-name: reverse;
  -webkit-animation-duration: 350ms;
          animation-duration: 350ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: all 350ms ease-in;
  transition: all 350ms ease-in;
  content: "";
  width: 38px;
  height: 38px;
  border: 3px solid #f5eb71;
  top: 1px;
  left: 2px;
  position: absolute;
  border-radius: 38px;
  background: #fffaa8;
}
.home .toggleLabelBackground {
  width: 8px;
  height: 3px;
  border-radius: 5px;
  position: relative;
  background: white;
  left: 57px;
  top: 17px;
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}
.home .toggleLabelBackground::before {
  content: "";
  position: absolute;
  top: -3px;
  width: 25px;
  height: 3px;
  border-radius: 5px;
  background: white;
  left: -11px;
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}
.home .toggleLabelBackground::after {
  content: "";
  position: absolute;
  top: 3px;
  width: 25px;
  height: 3px;
  border-radius: 5px;
  background: white;
  left: -4px;
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}
.home .toggleCheckbox:checked + .toggleLabel {
  background: #6b7abb;
  border-color: #5d6baa;
}
.home .toggleCheckbox:checked + .toggleLabel:before {
  background: white;
  border-color: #e8e8ea;
  -webkit-animation-name: switch;
          animation-name: switch;
  -webkit-animation-duration: 350ms;
          animation-duration: 350ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.home .toggleLabel:after {
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
  position: absolute;
  content: "";
  -webkit-box-shadow: #e8e8ea -13px 0 0 2px, #e8e8ea -19px 9px 0 -1px;
          box-shadow: #e8e8ea -13px 0 0 2px, #e8e8ea -19px 9px 0 -1px;
  left: 75px;
  top: 11px;
  width: 4px;
  height: 4px;
  background: transparent;
  border-radius: 50%;
  opacity: 0;
}
.home .toggleCheckbox:checked + .toggleLabel:after {
  -webkit-transition-delay: 350ms;
          transition-delay: 350ms;
  opacity: 1;
}
.home .toggleCheckbox:checked + .toggleLabel .toggleLabelBackground {
  left: 32px;
  width: 3px;
}
.home .toggleCheckbox:checked + .toggleLabel .toggleLabelBackground::before {
  width: 3px;
  height: 3px;
  top: -11px;
}
.home .toggleCheckbox:checked + .toggleLabel .toggleLabelBackground::after {
  width: 3px;
  height: 3px;
  left: -18px;
  top: 10px;
}
@-webkit-keyframes reverse {
  0% {
    left: 50px;
    width: 38px;
  }
  60% {
    left: 20px;
    width: 68px;
  }
  100% {
    left: 2px;
  }
}
@keyframes reverse {
  0% {
    left: 50px;
    width: 38px;
  }
  60% {
    left: 20px;
    width: 68px;
  }
  100% {
    left: 2px;
  }
}
@-webkit-keyframes switch {
  0% {
    left: 2px;
  }
  60% {
    left: 2px;
    width: 68px;
  }
  100% {
    left: 50px;
    width: 38px;
  }
}
@keyframes switch {
  0% {
    left: 2px;
  }
  60% {
    left: 2px;
    width: 68px;
  }
  100% {
    left: 50px;
    width: 38px;
  }
}

.confetti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.confetti-piece {
  position: absolute;
  width: 8px;
  height: 16px;
  background: #ffd300;
  top: 0;
  opacity: 0;
}
.confetti-piece:nth-child(1) {
  left: 7%;
  -webkit-transform: rotate(-61deg);
          transform: rotate(-61deg);
  -webkit-animation: makeItRain 8000ms infinite ease-out;
          animation: makeItRain 8000ms infinite ease-out;
  -webkit-animation-delay: 502ms;
          animation-delay: 502ms;
  -webkit-animation-duration: 4966ms;
          animation-duration: 4966ms;
}
.confetti-piece:nth-child(2) {
  left: 14%;
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
  -webkit-animation: makeItRain 8000ms infinite ease-out;
          animation: makeItRain 8000ms infinite ease-out;
  -webkit-animation-delay: 578ms;
          animation-delay: 578ms;
  -webkit-animation-duration: 4231ms;
          animation-duration: 4231ms;
}
.confetti-piece:nth-child(3) {
  left: 21%;
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg);
  -webkit-animation: makeItRain 8000ms infinite ease-out;
          animation: makeItRain 8000ms infinite ease-out;
  -webkit-animation-delay: 85ms;
          animation-delay: 85ms;
  -webkit-animation-duration: 6986ms;
          animation-duration: 6986ms;
}
.confetti-piece:nth-child(4) {
  left: 28%;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  -webkit-animation: makeItRain 8000ms infinite ease-out;
          animation: makeItRain 8000ms infinite ease-out;
  -webkit-animation-delay: 839ms;
          animation-delay: 839ms;
  -webkit-animation-duration: 3422ms;
          animation-duration: 3422ms;
}
.confetti-piece:nth-child(5) {
  left: 35%;
  -webkit-transform: rotate(-26deg);
          transform: rotate(-26deg);
  -webkit-animation: makeItRain 8000ms infinite ease-out;
          animation: makeItRain 8000ms infinite ease-out;
  -webkit-animation-delay: 758ms;
          animation-delay: 758ms;
  -webkit-animation-duration: 1728ms;
          animation-duration: 1728ms;
}
.confetti-piece:nth-child(6) {
  left: 42%;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-animation: makeItRain 8000ms infinite ease-out;
          animation: makeItRain 8000ms infinite ease-out;
  -webkit-animation-delay: 415ms;
          animation-delay: 415ms;
  -webkit-animation-duration: 9894ms;
          animation-duration: 9894ms;
}
.confetti-piece:nth-child(7) {
  left: 49%;
  -webkit-transform: rotate(-79deg);
          transform: rotate(-79deg);
  -webkit-animation: makeItRain 8000ms infinite ease-out;
          animation: makeItRain 8000ms infinite ease-out;
  -webkit-animation-delay: 419ms;
          animation-delay: 419ms;
  -webkit-animation-duration: 2436ms;
          animation-duration: 2436ms;
}
.confetti-piece:nth-child(8) {
  left: 56%;
  -webkit-transform: rotate(32deg);
          transform: rotate(32deg);
  -webkit-animation: makeItRain 8000ms infinite ease-out;
          animation: makeItRain 8000ms infinite ease-out;
  -webkit-animation-delay: 201ms;
          animation-delay: 201ms;
  -webkit-animation-duration: 2962ms;
          animation-duration: 2962ms;
}
.confetti-piece:nth-child(9) {
  left: 63%;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  -webkit-animation: makeItRain 8000ms infinite ease-out;
          animation: makeItRain 8000ms infinite ease-out;
  -webkit-animation-delay: 76ms;
          animation-delay: 76ms;
  -webkit-animation-duration: 8547ms;
          animation-duration: 8547ms;
}
.confetti-piece:nth-child(10) {
  left: 70%;
  -webkit-transform: rotate(-59deg);
          transform: rotate(-59deg);
  -webkit-animation: makeItRain 8000ms infinite ease-out;
          animation: makeItRain 8000ms infinite ease-out;
  -webkit-animation-delay: 329ms;
          animation-delay: 329ms;
  -webkit-animation-duration: 7087ms;
          animation-duration: 7087ms;
}
.confetti-piece:nth-child(11) {
  left: 77%;
  -webkit-transform: rotate(73deg);
          transform: rotate(73deg);
  -webkit-animation: makeItRain 8000ms infinite ease-out;
          animation: makeItRain 8000ms infinite ease-out;
  -webkit-animation-delay: 194ms;
          animation-delay: 194ms;
  -webkit-animation-duration: 6565ms;
          animation-duration: 6565ms;
}
.confetti-piece:nth-child(12) {
  left: 84%;
  -webkit-transform: rotate(-71deg);
          transform: rotate(-71deg);
  -webkit-animation: makeItRain 8000ms infinite ease-out;
          animation: makeItRain 8000ms infinite ease-out;
  -webkit-animation-delay: 608ms;
          animation-delay: 608ms;
  -webkit-animation-duration: 7601ms;
          animation-duration: 7601ms;
}
.confetti-piece:nth-child(13) {
  left: 91%;
  -webkit-transform: rotate(-71deg);
          transform: rotate(-71deg);
  -webkit-animation: makeItRain 8000ms infinite ease-out;
          animation: makeItRain 8000ms infinite ease-out;
  -webkit-animation-delay: 419ms;
          animation-delay: 419ms;
  -webkit-animation-duration: 4269ms;
          animation-duration: 4269ms;
}
.confetti-piece:nth-child(odd) {
  background: #17d3ff;
}
.confetti-piece:nth-child(even) {
  z-index: 1;
}
.confetti-piece:nth-child(4n) {
  width: 5px;
  height: 12px;
  -webkit-animation-duration: 8000ms;
          animation-duration: 8000ms;
}
.confetti-piece:nth-child(3n) {
  width: 3px;
  height: 10px;
  -webkit-animation-duration: 10000ms;
          animation-duration: 10000ms;
  -webkit-animation-delay: 6000ms;
          animation-delay: 6000ms;
}
.confetti-piece:nth-child(4n-7) {
  background: #ff4e91;
}

@-webkit-keyframes makeItRain {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(90vh);
            transform: translateY(90vh);
  }
}

@keyframes makeItRain {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(90vh);
            transform: translateY(90vh);
  }
}
.skills .wrapper {
  text-align: center;
}
.skills .wrapper h2 {
  font-weight: 600;
  margin-top: 5%;
}
.skills .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 4% 0;
}
.skills .wrapper ul li {
  width: calc(100% / 4);
  margin: 4% 0;
}
.skills .wrapper ul li i {
  font-size: 3rem;
  color: #F13C91;
}
.skills .wrapper ul li p {
  margin-top: 10px;
}

.darkMode .skills .wrapper ul li i {
  color: #77bdfb;
}

.theProjects .wrapper {
  padding: calc(5% + 118px) 0;
}
.theProjects .wrapper ul {
  position: relative;
  margin-top: 8%;
}
.theProjects .wrapper ul::after {
  content: "";
  position: absolute;
  width: 6px;
  background: #F13C91;
  top: 0;
  bottom: 0;
  left: 50%;
}
.theProjects .wrapper li {
  padding: 10px 40px;
  position: relative;
  width: 50%;
}
.theProjects .wrapper li::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -16px;
  background-color: #F13C91;
  border: 4px solid #F13C91;
  top: 15px;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.theProjects .wrapper li:hover::after, .theProjects .wrapper li:focus::after {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
.theProjects .wrapper .left {
  left: 0;
}
.theProjects .wrapper .right {
  left: 51%;
}
.theProjects .wrapper .right::after {
  left: -19px;
}
.theProjects .wrapper h3 {
  text-align: center;
  color: #F13C91;
  padding-top: 20px;
}
.theProjects .wrapper h3::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #F13C91;
  display: inline-block;
}
.theProjects .wrapper .content {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.theProjects .wrapper .content:hover, .theProjects .wrapper .content:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.theProjects .wrapper .content .textContent.showText {
  visibility: visible;
  height: 100%;
  -webkit-transform: translateY(-1%);
          transform: translateY(-1%);
  background-color: whitesmoke;
  -webkit-transition: background-color 0.4s ease, -webkit-transform 0.4s ease;
  transition: background-color 0.4s ease, -webkit-transform 0.4s ease;
  transition: transform 0.4s ease, background-color 0.4s ease;
  transition: transform 0.4s ease, background-color 0.4s ease, -webkit-transform 0.4s ease;
}
.theProjects .wrapper .content .textContent {
  visibility: hidden;
  padding: 0 20px;
  height: 0;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  background-color: transparent;
  -webkit-transition: height 0.2s linear, visibility 0.2s linear, background-color 0.4s linear, -webkit-transform 0.6s linear;
  transition: height 0.2s linear, visibility 0.2s linear, background-color 0.4s linear, -webkit-transform 0.6s linear;
  transition: height 0.2s linear, transform 0.6s linear, visibility 0.2s linear, background-color 0.4s linear;
  transition: height 0.2s linear, transform 0.6s linear, visibility 0.2s linear, background-color 0.4s linear, -webkit-transform 0.6s linear;
}
.theProjects .wrapper .content ul {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 0;
}
.theProjects .wrapper .content li {
  margin: 5% auto 0 auto;
  background-color: #FFE5DF;
  color: black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 8px;
}
.theProjects .wrapper .content ul::after {
  content: none;
}
.theProjects .wrapper .content li::after {
  content: none;
}
.theProjects .wrapper .content .projectLinksContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 20px;
}
.theProjects .wrapper .content a {
  text-decoration: none;
  background-color: #DF5696;
  color: whitesmoke;
  font-size: 1.2rem;
  padding: 10px 20px;
  width: 100%;
  margin-top: 5%;
  border: none;
  border-radius: 25px;
  -webkit-box-shadow: 0 2px 2px -2px black;
          box-shadow: 0 2px 2px -2px black;
  border: 1px solid transparent;
  text-align: center;
}
.theProjects .wrapper .content a:hover,
.theProjects .wrapper .content a:focus {
  background-color: whitesmoke;
  color: #F13C91;
  border: 1px solid #F13C91;
}

.darkMode .theProjects .wrapper ul::after {
  background: #77bdfb;
}
.darkMode .theProjects .wrapper li::after {
  background-color: #77bdfb;
  border: 4px solid #77bdfb;
}
.darkMode .theProjects .wrapper h3 {
  color: #77bdfb;
}
.darkMode .theProjects .wrapper h3::after {
  background-color: #77bdfb;
}
.darkMode .theProjects .wrapper .content .textContent.showText {
  background-color: #506680;
}
.darkMode .theProjects .wrapper .content li {
  background-color: #353C51;
  color: #ECF2F8;
}
.darkMode .theProjects .wrapper .content a {
  background: #77bdfb;
  color: #353C51;
}
.darkMode .theProjects .wrapper .content a:hover,
.darkMode .theProjects .wrapper .content a:focus {
  background: #506680;
  color: #77bdfb;
  border: 1px solid #77bdfb;
}

.about {
  padding: 6% 0 calc(6% + 118px) 0;
}
.about h2 {
  margin-bottom: 8%;
  font-size: 2.4rem;
}
.about .aboutContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .aboutContent .imageContent {
  width: 400px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 21px 21px 0 -5px #F13C91;
          box-shadow: 21px 21px 0 -5px #F13C91;
}
.about .aboutContent .imageContent .imageContainer {
  width: 100%;
  height: 100%;
}
.about .aboutContent .textContent {
  width: calc(100% - 400px - 30px);
  padding: 2% 0 0 5%;
}
.about .aboutContent .textContent p:nth-of-type(2) {
  margin-top: 3%;
}

.darkMode .about .aboutContent .imageContent {
  -webkit-box-shadow: 21px 21px 0 -5px #77bdfb;
          box-shadow: 21px 21px 0 -5px #77bdfb;
}

.contact .wrapper {
  margin: calc(5% + 118px) auto 5% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact .wrapper h2 {
  margin-bottom: 5%;
}
.contact .wrapper .contactInfo,
.contact .wrapper form {
  width: 80%;
  padding: 5% 5% 0 5%;
}
.contact .wrapper .socialMediaIcons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 3%;
}
.contact .wrapper .socialMediaIcons a {
  color: #F13C91;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.contact .wrapper .socialMediaIcons a:hover, .contact .wrapper .socialMediaIcons a:focus {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
.contact .wrapper .socialMediaIcons i {
  font-size: 2rem;
}
.contact .wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact .wrapper form input,
.contact .wrapper form textArea {
  background-color: whitesmoke;
  color: #F13C91;
  border: 1px solid #F13C91;
  padding: 5px 30px;
  border-radius: 8px;
}
.contact .wrapper form input:hover,
.contact .wrapper form input:focus,
.contact .wrapper form textarea:hover,
.contact .wrapper form textarea:focus {
  border: 1px solid #72cce3;
  -webkit-box-shadow: 0 2px 2px -2px black;
          box-shadow: 0 2px 2px -2px black;
}
.contact .wrapper form input {
  margin-bottom: 20px;
  height: 50px;
}
.contact .wrapper form textarea {
  padding-top: 20px;
  height: 300px;
  resize: none;
}
.contact .wrapper form button {
  background-color: #DF5696;
  color: whitesmoke;
  font-size: 1.2rem;
  padding: 10px 20px;
  width: 100%;
  margin-top: 3%;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 0 2px 2px -2px black;
          box-shadow: 0 2px 2px -2px black;
  border: 1px solid transparent;
}
.contact .wrapper form button:hover, .contact .wrapper form button:focus {
  background-color: #72cce3;
}

.darkMode .contact .wrapper .socialMediaIcons a {
  color: #77bdfb;
}
.darkMode .contact .wrapper form input,
.darkMode .contact .wrapper form textArea {
  background-color: #506680;
  color: #ECF2F8;
  border: 1px solid #77bdfb;
}
.darkMode .contact .wrapper form input:hover,
.darkMode .contact .wrapper form input:focus,
.darkMode .contact .wrapper form textarea:hover,
.darkMode .contact .wrapper form textarea:focus {
  border: 1px solid #A70C54;
}
.darkMode .contact .wrapper form button {
  background-color: #77bdfb;
  color: #353C51;
}
.darkMode .contact .wrapper form button:hover, .darkMode .contact .wrapper form button:focus {
  background-color: #A70C54;
  color: #FFE5DF;
}

@media (max-width: 900px) {
  .about .aboutContent .imageContent {
    width: 300px;
    height: 300px;
  }
  .about .aboutContent .textContent {
    width: calc(100% - 300px - 30px);
  }
}
@media (max-width: 780px) {
  .skills .wrapper ul li {
    width: calc(100% / 3);
  }
  .skills .wrapper ul li i {
    font-size: 2.3rem;
  }

  .theProjects .wrapper {
    margin: 10% 0;
  }
  .theProjects .wrapper .displayProjects::after {
    content: none;
  }
  .theProjects .wrapper li {
    width: 100%;
    margin-bottom: 3%;
  }
  .theProjects .wrapper li::after {
    content: none;
  }
  .theProjects .wrapper .right {
    left: 0;
  }
  .theProjects .wrapper .content ul {
    margin-top: 2%;
  }

  .about .aboutContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .aboutContent .imageContent {
    width: 350px;
    height: 350px;
  }
  .about .aboutContent .textContent {
    width: 100%;
    padding: 8% 5% 5% 5%;
  }
  .about .aboutContent .textContent h2 {
    text-align: center;
  }
}
@media (max-width: 530px) {
  h2,
.about .wrapper h2 {
    font-size: 1.5rem;
    margin-bottom: calc(5% + 30px);
  }

  header nav .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  header nav .wrapper button {
    display: block;
    color: #F13C91;
    font-size: 2rem;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin: 20px 10px 10px 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  header nav .wrapper button:hover, header nav .wrapper button:focus {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  header nav .wrapper .show {
    visibility: visible;
    top: calc(2rem + 20px);
    -webkit-transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    overflow: visible;
  }
  header nav .wrapper ul {
    visibility: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    position: absolute;
    top: -250px;
  }
  header nav .wrapper ul li {
    margin: 1% 0;
    width: 80%;
  }
  header nav .wrapper ul li a {
    background-color: #F13C91;
    color: whitesmoke;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    font-size: 1rem;
    -webkit-box-shadow: 0 2px 2px -2px black;
            box-shadow: 0 2px 2px -2px black;
    border-radius: 25px;
  }
  header nav .wrapper ul li a:hover,
header nav .wrapper ul li a:focus {
    background: whitesmoke;
    color: black;
  }
  header nav .wrapper ul .resume {
    background-color: #A70C54;
    color: #ECF2F8;
  }

  .darkMode header nav .wrapper button {
    color: #77bdfb;
  }
  .darkMode header nav .wrapper ul li a {
    background: #77bdfb;
    color: black;
  }
  .darkMode header nav .wrapper ul li a:hover,
.darkMode header nav .wrapper ul li a:focus {
    background: #506680;
    color: #ECF2F8;
  }
  .darkMode header nav .wrapper ul .resume {
    background-color: #A70C54;
    color: #ECF2F8;
  }

  .home {
    text-align: left;
  }
  .home h1,
.home h2 {
    text-align: left;
    width: 100%;
  }
  .home h1 {
    font-size: 2rem;
  }

  .skills .wrapper ul li {
    width: calc(100% / 2);
  }
  .skills .wrapper ul li i {
    font-size: 2rem;
  }
  .skills .wrapper ul li p {
    font-size: 1rem;
  }

  .theProjects .wrapper .content .textContent ul {
    margin-bottom: 2%;
  }
  .theProjects .wrapper .content .textContent a {
    font-size: 1rem;
  }

  .contact .wrapper .socialMediaIcons,
.contact .wrapper form {
    margin-top: 8%;
    width: 100%;
  }
  .contact .wrapper .contactInfo {
    width: 100%;
  }
}
@media (max-height: 700px) {
  .home .wrapper {
    margin: 2% 0 calc(2% + 118px) 0;
  }
}